.footer {
  background-color: rgb(var(--var-bg));
}

.footer-wrapper {
  padding: 40px 0 24px 0;
  border-top: 1px solid #e4e5e6;
}

.footer-container {
  margin: 0 auto;
}

.footer-main-block {
  margin-bottom: 40px;
}

.footer-logo {
  margin-bottom: 32px;
}

.socmedia-container {
}

.socmedia-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.socmedia-item {
}

.socmedia-link {
  color: rgb(var(--var-text));
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.03em;
  transition: color 200ms cubic-bezier(0.19, 1, 0.22, 1),
    color 200ms cubic-bezier(0.19, 1, 0.22, 1);
  display: inline-block;
}

.socmedia-link:hover {
  color: rgb(var(--var-text-green));
  transform: scale(1.1);
}

.copyright-container {
}

.copyright-text {
  color: rgb(var(--var-text));
  text-align: center;

  /* Desktop-Tablet/body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .socmedia-list {
    flex-direction: row;
    gap: 40px;
  }

  .copyright-text {
    text-align: right;
  }
}

@media screen and (min-width: 1280px) {
  .footer-main-block {
    display: flex;
    justify-content: space-between;
  }

  .footer-logo {
    margin-bottom: 0;
  }
}
