<footer class="footer">
  <section id="footer" class="container footer-wrapper">
    <div class="footer-container">
      <div class="footer-main-block">
        <div class="footer-logo">
          <a class="logo-text" href="./index.html"
            >Lloyd<span>Jefferson.</span></a
          >
        </div>
        <div class="socmedia-container">
          <ul class="socmedia-list">
            <li class="socmedia-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="socmedia-link"
                target="_blank"
                rel="noreferrer noopener nofollow"
                >Instagram</a
              >
            </li>
            <li class="socmedia-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="socmedia-link"
                target="_blank"
                rel="noreferrer noopener nofollow"
                >Facebook</a
              >
            </li>
            <li class="socmedia-item">
              <a
                href="https://www.linkedin.com/school/goit-start-your-career-in-it"
                class="socmedia-link"
                target="_blank"
                rel="noreferrer noopener nofollow"
                >Linkedin</a
              >
            </li>
            <li class="socmedia-item">
              <a
                href="https://github.com/AndreyTara/wildCoders"
                class="socmedia-link"
                target="_blank"
                rel="noreferrer noopener nofollow"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright-container">
        <p class="copyright-text">
          &#xa9; Copyright 2024. Made by LloydJefferson
        </p>
      </div>
    </div>
  </section>
</footer>
