<header class="header" id="header">
  <div class="container header-container">
    <div class="header-position">
      <a href="/" class="logo-text logo-link" rel="noreferer noopener nofollow">
        Lloyd<span class="header-logo-span">Jefferson.</span>
      </a>
      <div class="nav-container">
        <div class="switcher-wrapper"></div>
        <nav class="header-nav">
          <ul class="header-menu">
            <li class="header-menu-item">
              <a class="nav-link" href="#aboutme">About me</a>
            </li>
            <li class="header-menu-item">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="header-menu-item">
              <a class="nav-link" href="#worktogether">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
      <button type="button" class="mob-menu-btn">
        <div class="header-burger">
          <span></span>
        </div>
      </button>
    </div>
    <div class="mob-menu">
      <div class="switcher-menu"></div>
      <div class="mob-menu-container">
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="nav-link mob-nav-link" href="#aboutme">About me</a>
          </li>
          <li class="mob-menu-item">
            <a class="nav-link mob-nav-link" href="#projects">Projects</a>
          </li>
          <li class="mob-menu-item">
            <a class="nav-link mob-nav-link" href="#worktogether">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
