<section class="hero">
  <div class="hero-container">
    <div class="container hero-title-container">
      <h1 class="hero-title">
        Hello, I am<picture><source srcset="/img/hero/hero-photo.png 1x, /img/hero/hero-photo-2x.png 2x"></source><img
          class="hero-img"
          src="/img/hero/hero-photo.jpg"
          alt="photo icon"
        /></picture>
        <span class="hero-title-green">Fullstack developer</span>
      </h1>
      <div class="hero-text-wrapper">
        <div class="hero-btn">
            <a href="#worktogether" class="hero-btn-link">
              <svg class="hero-btn-arrow" width="30" height="16">
                <use href="/img/icons.svg#icon-Arrow-1"></use>
              </svg>
              Order the project <span class="hero-btn-background"></span>
            </a>
        </div>
        <p class="hero-text">
          I work with people all over the world to create
          <span class="hero-text-green">impressive</span> and
          <span class="hero-text-green">functional websites</span>
          that reflect each client’s unique personality.
        </p>
      </div>
    </div>
    <div class="hero-socmedia">
      <ul class="hero-list-contacts">
        <li class="hero-contacts-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="socmedia-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >Instagram</a
          >
        </li>
        <li class="hero-contacts-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="socmedia-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >Facebook</a
          >
        </li>
        <li class="hero-contacts-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            class="socmedia-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >Linkedin</a
          >
        </li>
        <li class="hero-contacts-item">
          <a
            href="https://github.com/AndreyTara/wildCoders"
            class="socmedia-link"
            target="_blank"
            rel="noreferrer noopener nofollow"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
