<section id="reviews" class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper-container">
      <ul class="swiper-wrapper"></ul>
    </div>
    <div class="swiper-buttons">
      <div class="swiper-button-prev-new">
        <svg class="icon-left" width="24" height="24">
          <use href="/img/reviews/icons-reviews.svg#icon-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next-new">
        <svg class="icon-right" width="32" height="24">
          <use href="/img/reviews/icons-reviews.svg#icon-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
