<section id="techskills" class="techskills">
  <div class="techskills-container">
    <h2 class="visually-hidden">Tech Skills</h2>
    <div class="skills-upper-line">
      <ul class="skills-list">
        <li class="skills-item-upper">HTML/CSS</li>
        <li class="skills-item-upper">JavaScript</li>
        <li class="skills-item-upper">React</li>
        <li class="skills-item-upper">Node. js</li>
        <li class="skills-item-upper">React Native</li>
        <li class="skills-item-upper">Typescript</li>
      </ul>
      <ul class="skills-list">
        <li class="skills-item-upper">HTML/CSS</li>
        <li class="skills-item-upper">JavaScript</li>
        <li class="skills-item-upper">React</li>
        <li class="skills-item-upper">Node. js</li>
        <li class="skills-item-upper">React Native</li>
        <li class="skills-item-upper">Typescript</li>
      </ul>
    </div>
    <div class="skills-lower-line">
      <ul class="skills-list">
        <li class="skills-item-lower">JavaScript</li>
        <li class="skills-item-lower">React</li>
        <li class="skills-item-lower">Node. js</li>
        <li class="skills-item-lower">React Native</li>
        <li class="skills-item-lower">Typescript</li>
        <li class="skills-item-lower">HTML/CSS</li>
      </ul>
      <ul class="skills-list">
        <li class="skills-item-lower">JavaScript</li>
        <li class="skills-item-lower">React</li>
        <li class="skills-item-lower">Node. js</li>
        <li class="skills-item-lower">React Native</li>
        <li class="skills-item-lower">Typescript</li>
        <li class="skills-item-lower">HTML/CSS</li>
      </ul>
    </div>
  </div>
</section>
