<section class="worktog" id="worktogether">
  <div class="worktog-wrap container">
    <h2 class="worktog-title desc-tab-h2">let’s <span>work together</span></h2>
    <div class="worktog-first">
      <div class="worktog-soc">
        <h3 class="worktog-soc-subtitle">
          Contact me to transform your ideas into exceptional solutions.
        </h3>
        <ul class="worktog-list">
          <li class="worktog-item">
            <svg class="worktog-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-phone"></use>
            </svg>
            <a
              href="tel:+38 090 456 78 90"
              class="worktog-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >+38 090 456 78 90</a
            >
          </li>
          <li class="worktog-item">
            <svg class="worktog-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-letter"></use>
            </svg>
            <a
              href="emailto:lloydjefferson@gmail.com"
              class="worktog-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="worktog-item">
            <div></div>
            <svg class="worktog-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-local"></use>
            </svg>
            <a
              href="https://www.waze.com/en/live-map/directions?latlng=40.77242362190278%2C-73.98263607201041&sjid=3520103332414385309-EU"
              class="worktog-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >USA, New York</a
            >
          </li>
        </ul>
      </div>
      <form class="worktog-form">
        <div class="form-field">
          <input
            class="form-input"
            name="email"
            id="email"
            type="text"
            placeholder="Your email*"
            title="example.email@example.com"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            required
          />
          <svg class="worktog-form-icon" width="14" height="14">
            <use href="/img/worktog/icon-input.svg#icon-success-filled"></use>
          </svg>
        </div>
        <div class="form-field">
          <textarea
            class="form-message"
            name="message"
            placeholder="Message"
            id="textarea"
            cols="30"
            rows="10"
          ></textarea>
        </div>

        <button class="form-btn" type="submit">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</section>
<div class="backdrop">
  <div class="worktog-modal">
    <button class="worktog-modal-btn">
      <svg class="worktog-modal-icon" width="14" height="14">
        <use href="/img/worktog/symbol-defs.svg#icon-x-2"></use>
      </svg>
    </button>
    <div class="worktog-modal-wrapper">
      <h3 class="worktog-modal-title">
        Thank you for your interest in cooperation!
      </h3>
      <p class="wortog-modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
