/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(var(--var-bg));
}

@font-face {
  font-family: 'Impact';
  src: url(../font/impact.ttf) format('ttf');
}

.logo-text {
  font-family: 'Impact', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.5px;
  color: rgb(var(--var-text));
  text-transform: uppercase;
}

.logo-text span {
  color: rgb(var(--var-text-green));
}

.container {
  max-width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
