/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./sections/header.css');
@import url('./sections/hero.css');
@import url('./sections/aboutme.css');
@import url('./sections/techSkills.css');
@import url('./sections/myprojects.css');
@import url('./sections/benefits.css');
@import url('./sections/faq.css');
@import url('./sections/reviews.css');
@import url('./sections/worktog.css');
@import url('./sections/footer.css');

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgb(var(--var-text));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --var-text: 41, 41, 41; /* #292929 */
  --var-text-green: 0, 176, 104; /* #00b068 */
  --var-bg: 240, 240, 240; /* #f0f0f0 */
  --var-bg-gray: 228, 229, 230; /* #e4e5e6 */
  --var-accent: 188, 223, 209; /* #bcdfd1 */
  --var-grey-hover: 187, 187, 187; /* #BBBBB */
}

[dark] {
  --var-text: 240, 240, 240; /* 1e2023 */
  --var-text-green: 20, 197, 124; /* #14c57c */
  --var-bg: 30, 32, 35; /* #f0f0f0 */
  --var-bg-gray: 42, 45, 50; /* #2a2d32 */
  --var-accent: 32, 65, 54; /* #204136 */
  --var-grey-hover: 59, 63, 69; /* #BBBBB */
}

/*
Використання змінних кольорів:

color: rgb(var(--var-text))

Якщо потрібна прозорість:

color: rgba(var(--var-text), 0.1)

*/
